include HROCH/hroch.bin
include HROCH/hroch.dll
include HROCH/hroch.py
include HROCH/classifier.py
include HROCH/regressor.py
include HROCH/fuzzy.py
include HROCH/__init__.py
recursive-exclude HROCH/__pycache__ *
recursive-exclude ci-test *
recursive-exclude examples *
recursive-exclude docs *
recursive-exclude .github *
exclude .gitignore
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.md
